
.HomeTitle{
    text-align: center;
    padding: 20px 0;
}



.container{
    width: 80%;
    margin: auto;
}
.HomeContent{
    display: inline-flex;

}

.PersonCard{

    width: 100%;
    text-align: center;
}

.PersonImg {
    padding: 50px;
    transition: padding 1s;
}

.personImg , img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid wheat;
}
.PersonImg:hover{
    padding: 0;
}